-
  var card01Default= {
        image: './images/card03.jpg',
        title: '<div>「世界最佳的餐廳」 捲土重來！</div><div>體驗食在丹麥的實驗餐桌，NOMA2.0</div>', 
        content: '#丹麥,#哥本哈根,#生活美學,#空間設計,#設計靈蓋,#餐廳',
        link: 'http://google.tw'
  }

mixin card03(obj, col1 = "col-12", col2= "col-12")
  - obj = obj || card01Default
    .card03.container
      .row
        .image.mb-4(class=col1)
           img(src=obj.image)
        .wrap(class=col2)
          .title.pb-3.border-secondary(style="border-bottom: 3px solid" class=(col2 === 'col-12' ? 'mb-3' : 'mb-5'))
             h3(class="text-secondary h4") !{obj.title}
          .body(class="mb-3 text-light") !{obj.content}
   
