-
  var card01Default= {
    title: '床組【UHO】秋原超省空間 3.5 尺床組二件組 (床頭是衣櫃+一抽床底)', 
    image: './images/card01.png',
    sale: '$ 99,999',
    price: '$ 99.999',
    link: './newsNode.html'
  }

mixin card02(obj)
  - obj = obj || card01Default
  .card.card-02y(class="d-flex flex-column border-0")
    .image
       a(href=obj.link)
         img(src=obj.image)
    .wrap(class="p-3")
      .title.mb-3
        h3(class="h4") 
          a(class="text-secondary" href=obj.link) !{obj.title}
      .d-flex.justify-content-between.align-items-center
        .price
          span(class="text-secondary mr-4")=obj.sale
          del(class="text-light")=obj.price
        .cart.text-secondary.h3
          a(href="./cart.html")
            i.fas.fa-shopping-cart
          
          
