-
  var card01Default= {
    title: '床組【UHO】秋原超省空間 3.5 尺床組二件組 (床頭是衣櫃+一抽床底)', 
    image: './images/card01.png',
    hover: './images/hover.jpg',
    sale: '$ 99,999',
    price: '$ 99.999',
    link: './newsNode.html'
  }

mixin card02(obj)
  - obj = obj || card01Default
  .card.card02.position-relative(class="d-flex flex-column border-0")
    .slogan.bg-danger.text-white(class="p-1" style="position:absolute; left: 10px; top: 0px; z-index: 1;") HOT
    .wrap.position-relative(style="overflow:hidden;")
      if(obj.hover)
        .hover
          a(href=obj.link)
            img(src=obj.hover)
      .image
         a(href=obj.link)
           img(src=obj.image)
    .wrap
      .tab.py-3
        a(href=obj.link)
          img(width="50px" src="./images/tab.png")
      .title.mb-1
        h3(class="h4") 
          a(class="text-secondary" href=obj.link) !{obj.title}
      .d-flex.justify-content-between.align-items-center
        .price.d-flex.flex-column.flex-sm-row.align-items-center
          div(class="text-secondary mr-sm-4 h4 mb-0")=obj.sale
          del(class="text-light")=obj.price
        .cart.text-secondary.h3
          a(href="./cart.html")
            i.fas.fa-shopping-cart
          
          
