-
  var menu = {
    type: 'tab',
    activeIndex: 0,
    items: [
      {
        name: '最新消息',
        link: '/'
      },
      {
        name: '公益資訊',
        link: '/'
      },
      {
        name: '建案進度',
        link: '/'
      }
    ]
  }

mixin menu(opt)

  
  - opt = opt || menu
  - activeIndex = opt.activeIndex || 0
  
  if(opt.type == 'menu')
    .menu
      ul.d-flex.justify-content-between.p-0.m-0
        each item, idx in opt.items
          li.d-flex(class=(activeIndex == idx ? 'active' : ''))
            a(href=item.link class="px-2 py-3 text-white " style="white-space: nowrap;")=item.name
    
  if(opt.type == 'tab')
    .menu.tab(class="bg-white")
      ul.d-flex.p-0.m-0
        each item, idx in opt.items
          li.d-flex(class=(activeIndex == idx ? 'active' : ''))
            a(href=item.link class="px-4 py-3")=item.name

  if(opt.type == 'drop')
    .bg-secondary
      nav.navbar.navbar-expand-lg.navbar-light.text-white.bg-secondary.p-0
        .navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          .d-flex.align-items-center
            i.fas.fa-filter.text-white.p-3
            .ml-1.text-white 篩選
        #navbarSupportedContent.collapse.navbar-collapse
          .navbar-nav.mr-auto.drop-menu.d-flex.justify-content-between(style="width: 100%;")
            ul.drop-menu.d-flex.flex-lg-row.flex-column.p-0.m-0
              each item, idx in opt.items
                if(item.align == "left")
                  li.nav-item.dropdown.d-block
                    a#navbarDropdown.nav-link.dropdown-toggle.text-white.p-4(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                      | !{item.name}
                      i.fas.fa-angle-down.ml-2
                    .dropdown-menu.m-0.p-0.border-0.rounded-0.bg-primary(aria-labelledby="navbarDropdown" style="min-width: 165px")
                      each subItem, subIdx in opt.items[idx].subs
                        if subItem.active
                          a.dropdown-item.text-white.p-2.active.d-flex.justify-content-between.align-items-center(href="#") !{subItem.name}
                            i.fas.fa-check-circle
                          .dropdown-divider.m-0
                        else
                          a.dropdown-item.text-white.p-2(href="#") !{subItem.name}
                          .dropdown-divider.m-0
            ul.drop-menu.d-flex.flex-lg-row.flex-column.p-0.m-0
                each item, idx in opt.items
                  if(item.align == "right")
                    li.nav-item.dropdown.d-block
                      a#navbarDropdown.nav-link.dropdown-toggle.text-white.p-4(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        | !{item.name}
                        i.fas.fa-angle-down.ml-2
                      .dropdown-menu.dropdown-menu-right.m-0.p-0.border-0.rounded-0.bg-primary(aria-labelledby="navbarDropdown" style="min-width: 165px")
                        each subItem, subIdx in opt.items[idx].subs
                          if subItem.active
                            a.dropdown-item.text-white.p-2.active.d-flex.justify-content-between.align-items-center(href="#") !{subItem.name}
                              i.fas.fa-check-circle
                            .dropdown-divider.m-0
                          else
                            a.dropdown-item.text-white.p-2(href="#") !{subItem.name}
                            .dropdown-divider.m-0

    
          

      
              
